@media (max-width: 320px ) {
    .searchPlayerControls{
        --input-font-size: 1.75rem;
        --select-font-size: 1rem;
        --input-height: 61px;
        --input-width: 60%;
        --margin-top: 4vh;
        --font-color: white;
    }
}

.searchPlayerControls {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-top);
}

.searchPlayerControls form {
    display: flex;
}

.searchPlayerControls  input {
    font-size: var(--input-font-size);
    height: var(--input-height);
    /* display: inline-block; */
    width: var(--input-width);
    border: 3px solid var(--brand-color);
    border-radius: 15px;
    background: none;
    color:var(--font-color);
}

.searchPlayerControls  select {
    height: var(--input-height);
    font-size: var(--select-font-size);
    height: 100%;
    background:none;
    color:var(--font-color);
    /* display: inline-block; */
}

.icon-button {
    background:none;
    border:0;
}
