
.matchTab {
    border: 1px solid #000;
}

.statHeader {
    display: flex;
    justify-content: space-around;
}

.playerContainer {
    display: flex;
    justify-content: center;
}

.searchPlayerControls {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
.center {
    display: flex;

}

.searchPlayerControls  input {
    font-size: 3rem;
    width: 50vw;
    
}
.searchPlayerControls  select {
    font-size: 3rem;
}



.playerFlex{
    width:90%;
    display: flex;
    justify-content: space-between;
}
.win {
    background: darkseagreen;
}
.loss{
    background: #ff8080;
}

.playerTab{
    border: 1px solid #000;
}

.cardBlock{
    width: 500px;
    height: 75px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}


/*  Card.js*/
.cardGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.cardImage {
    display: block;
    height: 350px;
    width: 300px;
}
/* Card.js*/